.navbar{
    height:70px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    border-bottom:1px solid #e5e7eb;
}

.navbar-title h2{
    margin:0;
    color:#0b1e3c;
    font-size:24px;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:25px;
}

.notification{
    font-size:22px;
    cursor:pointer;
    color:#0b1e3c;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile-icon{
    font-size:42px;
    color:#1d4ed8;
}

.profile h4{
    margin:0;
}

.profile span{
    font-size:13px;
    color:gray;
}